<!DOCTYPE html>
<html>
    <head>
        <title>{{sightings.Unique_Squirrel_ID}}</title>
    </head>
    
    <body>
        <form action="" method="POST">
        {% csrf_token %}
        
        <ul>
        
        <li><h3>Latitude:{{information.Latitude}}</h3>
        <input type="number" name="Latitude">
        </li>
        
        <li><h3>Longitude:{{information.Longitude}}</h3>
        <input type="number" name="Longitude">
        </li>
        
        <li><h3>Unique_Squirrel_ID:{{information.Unique_Squirrel_ID}}</h3>
        <input type="text" name="Unique_Squirrel_ID">
        </li>
        
        <li><h3>Shift:{{information.Shift}}</h3>
        <input type="checkbox" name="Shift" value="AM"> AM<br>
        <input type="checkbox" name="Shift" value="PM" checked> PM<br>
        </li>
        
        <li><h3>Date:{{information.Date}}</h3>
        <input type="date" name="Date">
        </li>
        
        <li><h3>Age:{{information.Age}}</h3>
        <input type="checkbox" name="Age" value="Adult"> Adult<br>
        <input type="checkbox" name="Age" value="Juvenile"> Juvenile<br>
        <input type="checkbox" name="Age" value="Other" checked> Other<br>
        </li>
        
        <li><h3>Primary_Fur_Color:{{information.Primary_Fur_Color}}</h3>
        <input type="checkbox" name="Primary_Fur_Color" value="Gray"> Gray<br>
        <input type="checkbox" name="Primary_Fur_Color" value="Cinnamon"> Cinnamon<br>
        <input type="checkbox" name="Primary_Fur_Color" value="Black"> Black<br>
        <input type="checkbox" name="Primary_Fur_Color" value="Other" checked> Other<br>
        </li>
        
        <li><h3>Location:{{information.Location}}</h3>
        <input type="checkbox" name="Location" value="Above Ground"> Above Ground<br>
        <input type="checkbox" name="Location" value="Ground Plane"> Ground Plane<br>
        <input type="checkbox" name="Location" value="Other" checked> Other<br>
        </li>
        
	<li><h3>Specific_Location:{{information.Specific_Location}}</h3>
        <input type="text" name="Specific_Location">
        </li>
        
        <li><h3>Running:{{information.Running}} </h3>
        <input type="checkbox" name="Running" value="True"> True<br>
        <input type="checkbox" name="Running" value="False" checked> False<br>
        </li>
        
        <li><h3>Chasing:{{information.Chasing}} </h3>
        <input type="checkbox" name="Chasing" value="True"> True<br>
        <input type="checkbox" name="Chasing" value="False" checked> False<br>
        </li>
        
        <li><h3>Climbing:{{information.Climbing}} </h3>
        <input type="checkbox" name="Climbing" value="True"> True<br>
        <input type="checkbox" name="Climbing" value="False" checked> False<br>
        </li>
        
        <li><h3>Eating:{{information.Eating}} </h3>
        <input type="checkbox" name="Eating" value="True"> True<br>
        <input type="checkbox" name="Eating" value="False" checked> False<br>
        </li>
        
        <li><h3>Foraging:{{information.Foraging}} </h3>
        <input type="checkbox" name="Foraging" value="True"> True<br>
        <input type="checkbox" name="Foraging" value="False" checked> False<br>
        </li>
        
        <li><h3>Other_Activities:{{information.Other_Activities}} </h3>
        <input type="text" name="Other_Activities">
        </li>
        
        <li><h3>Kuks:{{information.Kuks}} </h3>
        <input type="checkbox" name="Kuks" value="True"> True<br>
        <input type="checkbox" name="Kuks" value="False" checked> False<br>
        </li>
        
        <li><h3>Quaas:{{information.Quaas}} </h3>
        <input type="checkbox" name="Quaas" value="True"> True<br>
        <input type="checkbox" name="Quaas" value="False" checked> False<br>
        </li>
        
        <li><h3>Moans:{{information.Moans}} </h3>
        <input type="checkbox" name="Moans" value="True"> True<br>
        <input type="checkbox" name="Moans" value="False" checked> False<br>
        </li>
        
        <li><h3>Tail_flags:{{information.Tail_flags}} </h3>
        <input type="checkbox" name="Tail_flags" value="True"> True<br>
        <input type="checkbox" name="Tail_flags" value="False" checked> False<br>
        </li>
        
        <li><h3>Tail_twitches:{{information.Tail_twitches}} </h3>
        <input type="checkbox" name="Tail_twitches" value="True"> True<br>
        <input type="checkbox" name="Tail_twitches" value="False" checked> False<br>
        </li>
        
        <li><h3>Approaches:{{information.Approaches}} </h3>
        <input type="checkbox" name="Approaches" value="True"> True<br>
        <input type="checkbox" name="Approaches" value="False" checked> False<br>
        </li>
        
        <li><h3>Indifferent:{{information.Indifferent}} </h3>
        <input type="checkbox" name="Indifferent" value="True"> True<br>
        <input type="checkbox" name="Indifferent" value="False" checked> False<br>
        </li>
        
        <li><h3>Runs_from:{{information.Runs_from}} </h3>
        <input type="checkbox" name="Runs_from" value="True"> True<br>
        <input type="checkbox" name="Runs_from" value="False" checked> False<br>
        </li>
        
        </ul>
        <br>
        <br>
        <br>
        <input type="submit" name="Edit" value="Edit">
        <input type="submit" name="Delete" value="Delete">
    </body>
</html>  
