<html>
    <head>
        <title>Index of Sightings!</title>
    </head>
    
    <body>
        <h2>Some operations about sightings of squrriel can be done!</h2>

        <a href="/sightings/add"> Add!</a>
        <br>
        <a href="/Squirrel/sightings/">Sightings</a>
        <br>
        <a href="/sightings/stats"> Stats!</a>
        
        <h3>Sightings Details</h3>
            {% if squirrels %}
                <ul>
                    {% for squirrel in squirrels %}
                    <li><a href="/sightings/{{squirrel.Unique_Squirrel_ID}}/">Squirrel ID:{{squirrel.Unique_Squirrel_ID}}</a></li>
                    {%endfor%}
                </ul>
            {% else %}
                <p>No sightings!</p>
            {% endif %}
    </body>       
     
</html> 
