<!DOCTYPE html>
<html lang = "en">
    <head>
    <meta charset="utf-8">
    <title>Stats Page</title>
    </head>
    <body>
        <ul>
        
        <li><h4>Stats 1: Total Number of all squirrels: {{Totals}}</h4></li>
        <li><h4>Stats 2: Number of squirrels that are running:{{Running}}</h4></li>
        <li><h4>Stats 3: Number of squirrels that are eating:{{Eating}}</h4></li>
	<li><h4>Stats 4: Nmuber of adults squirrels:{{Adults}}</h4></li>
        <li><h4>Stats 5: Number of squirrels with gray fur:{{Gray}}</h4></li>
        </ul>
    </body>
</html> 
