<!DOCTYPE html>
<html lang = "en">
    <head>
    <meta charset="utf-8">
    <title>Stats Page</title>
    </head>
    <body>
        <ul>
        
        <li><h4>Stats 1: Number of Squirrels: {{Stats 1}}</h4></li>
        <li><h4>Stats 2: Number of Squirrels Shift at AM:{{Stats 2}}</h4></li>
        <li><h4>Stats 3: Number of Squirrels Shift at PM:{{Stats 3}}</h4></li>
        <li><h4>Stats 4: Number of Running Squirrels:{{Stats 4}}</h4></li>
        <li><h4>Stats 5: Number of Chasing Squirrels:{{Stats 5}}</h4></li>
        <li><h4>Stats 6: Number of Climbing Squirrels:{{Stats 6}}</h4></li>
        </ul>
    </body>
</html> 
